.overview-card {
    position: relative;
}

.overview-card::before {
    position: absolute;
    margin-block-start: -10px;
    content: "";
    width: 85%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 90%;
    box-shadow: 0 0.15rem 0.1rem rgba(0, 0, 0, 0.04);
    border-radius: 0.4rem;
    margin-inline: auto;
    inset-inline: 0;
}

.overview-card-body {
    border-radius: 0.4rem;
    border: none;
    background-color: var(--white);
    box-shadow: 0 0.15rem 0.1rem rgba(0, 0, 0, 0.04);
    position: relative;
    margin-block-end: 1.5rem;
    width: 100%;
    padding: 1rem;
}
.overview-content {display: flex;align-items: center;min-height: 60px;}
.overview-content-text h2 {font-size: 22px;font-weight: 600;margin: 0;padding: 0;color: #263238;}
.overview-content-text p {font-size: 12px;margin: 0;color: #c3c3c3;line-height: 16px;font-weight: normal;}
.overview-content-icon {width: 45px;height: 45px;text-align: center;border-radius: 5px;line-height: 45px;margin-left: auto;/* background: rgb(61 161 227 / 11%); */}


.booking-availability-section{margin-bottom: 1rem;}


.heading-section {padding: 10px 0; margin-bottom: 1rem; position: relative; }
h4.heading-title {font-size: 16px;font-weight: 600;margin: 0;padding: 0;color: #27282a;}
.btn-option-info{margin-left: auto;}


.search-filter .search-form-group{position: relative;}
.search-filter .search-form-group input.form-control {position: relative;box-shadow: 0px 4px 30px rgb(95 94 231 / 7%);background: rgb(255 255 255 / 66%);color: #6c7383;border-radius: 5px;font-weight: 400;font-size: 12px;box-sizing: border-box;padding: 10px 15px 10px 35px;border: none;width: 100%;}
.search-filter .search-form-group span.search-icon {position: absolute;top: 50%;left: 10px;pointer-events: none;transform: translateY(-50%) scaleX(-1);color: #6362e7;font-size: 18px;}
.search-filter .form-group input.form-control {position: relative;box-shadow: 0px 4px 30px rgb(95 94 231 / 7%);background: rgb(255 255 255 / 66%);color: var(--black);border-radius: 5px;font-weight: 400;font-size: 12px;box-sizing: border-box;padding: 10px 15px 10px 15px;border: 1px solid var(--gray);width: 100%;}
.search-filter .form-group select.form-control {appearance: revert;position: relative;box-shadow: 0px 4px 30px rgb(95 94 231 / 7%);background: rgb(255 255 255 / 66%);color: #6c7383;border-radius: 5px;font-weight: 400;font-size: 12px;box-sizing: border-box;padding: 10px 15px 10px 15px;border: none;width: 100%;}




.kik-table table{border: 1px solid #eaedf7;border-radius: 5px;}
.kik-table .table>:not(:first-child) {border-top: 1px solid #26231a; }
.kik-table thead{background: var(--gray);}
.kik-table tr th {font-size: 13px;font-weight: 600;color: var(--blue);padding: 8px;border-top:none;background: transparent;}
.kik-table tr td {vertical-align: middle;font-size: 12px;font-weight: 500;color: var(--black);padding: 8px;border-bottom: 1px solid #d4d8e7;}
.kik-table tr td a{color: var(--black);}


.kikcard {background-color: #ffffff; border: none; border-radius: 0.4rem; box-shadow: 0 0.15rem 0.1rem rgba(0, 0, 0, 0.04); }
.kikcard .card-header {padding: 10px;border: none;background: #fff;border-radius: 10px 10px  0 0;border-bottom: 1px solid var(--gray);}
.kikcard .card-header h4 {font-size: 16px;margin: 0;padding: 8px;color: #727988;font-weight: 600;}
.kikcard .card-body{padding:10px;/* background: #ffffff; */border-radius: 0 0 10px 10px;}


a.action-btn.dropdown-toggle::after{content: inherit;}
a.action-btn {background: #edf0fc;width: 40px;padding: 7px;height: 40px;min-height: 40px;border-radius: 50%;display: inline-block;font-size: 23px;color:var(--black);text-align: center;}
a.action-btn:before {position: absolute;z-index: -1;height: 20px;width: 20px;top: 50%;left: 50%;transform: translate(-50%, -50%);transform-origin: 50% 50%;content: '';background-color: var(--blue);border-radius: 50%;opacity: 0;transition: all .3s;color: #6362e7;}
a.action-btn {position: relative;z-index: 1;}
a.action-btn:hover:before, a.action-btn:focus:before, a.action-btn.active:not(.revarse):before {opacity: 1;height: 40px;width: 40px;color: #f4f6fd;}
a.action-btn:hover{color: #fff}


.action-btn-info .dropdown-menu{position: absolute;font-size: 0.9rem;margin-top: 0;right: 0;left: auto;top: 70px;border: none;box-shadow: 0 0.15rem 0.1rem rgba(0, 0, 0, 0.04);width: 160px;padding: 0;background: #ffffff;}
.action-btn-info .dropdown-menu.active, 
.action-btn-info .dropdown-menu a.dropdown-item:active,
.action-btn-info .dropdown-menu a.dropdown-item:focus, 
.action-btn-info .dropdown-menu a.dropdown-item:hover{text-decoration: none;background-color: #ffffff;}
.action-btn-info .dropdown-menu a.dropdown-item{font-size: 13px;/* color: #6c7383; */border-radius: 5px;font-weight: 500;}
.action-btn-info a.view-btn {color: var(--green);} 
.action-btn-info a.edit-btn {color: #FFCF55; } 
.action-btn-info a.delete-btn {color: #FB5353; }


a.btn-bl {background: var(--blue); border: 1px solid var(--blue); padding: 5px 20px; display: inline-block; font-size: 12px; width: 100%; color: var(--white); border-radius: 5px; text-transform: uppercase; font-weight: bold; text-align: center; }
a.btn-bla {background: var(--black); border: 1px solid var(--black); padding: 5px 20px; display: inline-block; font-size: 12px; width: 100%; color: var(--white); border-radius: 5px; text-transform: uppercase; font-weight: bold; text-align: center; }
a.btn-gr{background: var(--green);border: 1px solid var(--green);padding: 5px 20px;display: inline-block;font-size: 12px; width:100%;color:var(--white);border-radius: 5px;text-transform: uppercase;font-weight: bold; text-align: center;}
a.btn-gra {background: var(--gray); border: 1px solid var(--gray); padding: 5px 20px; display: inline-block; font-size: 12px; width: 100%; color: var(--black); border-radius: 5px; text-transform: uppercase; font-weight: bold; text-align: center; }
a.btn-br {background: var(--brown); border: 1px solid var(--brown); padding: 5px 20px; display: inline-block; font-size: 12px; width: 100%; color: var(--white); border-radius: 5px; text-transform: uppercase; font-weight: bold; text-align: center; }

/*
.btn-bl {background: #5968d9;border: 1px solid #5968d9;padding: 9px 20px;display: inline-block;font-size: 13px;color: #fff;border-radius: 5px;text-transform: uppercase;font-weight: bold;border: none;}
.btn-gr{background: #d6dcf3;border: 1px solid #d6dcf3;padding: 9px 20px;display: inline-block;font-size: 13px;color: #5968d9;border-radius: 5px;text-transform: uppercase;font-weight: bold;}
.btn-bl-outline {background:transparent;border: 1px solid #5968d9;padding: 9px 20px;display: inline-block;font-size: 13px;color: #5968d9;border-radius: 5px;text-transform: uppercase;font-weight: bold;}
.btn-bl:hover{color: #fff}

*/